// Colours
$dk-gray: hsl(0, 0%, 55%);
$vdk-gray: hsl(0, 0%, 41%);

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Alata', sans-serif;
}

// Hero image and text
.hero {
  height: 65rem;
  background-image: url(../assets/images/index/header-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  // People to the right:
  // background-position: -5rem;
  // People to the left:
  background-position: -22rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  width: 90%;
  position: relative;
  top: -3rem;
  padding: 2rem;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
}

// All sections
section {
  width: 90%;
  margin: 5rem auto 0 auto;
  text-align: center;

  h2 {
    margin-top: 2.5rem;
    padding: 0 2.5rem;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 300;
  }

  p {
    margin-top: 2.5rem;
    padding: 0 2.5rem;
    line-height: 2.5rem;
    color: $dk-gray;
  }
}

// Intro
.intro {
  display: flex;
  flex-direction: column;

  .intro-figure {
    margin-top: 5rem;
  }

  .intro-figcaption {
    margin-top: 1rem;
    color: $dk-gray;
  }
}

// Instagram
.insta-page-break {
  width: 100%;
  margin-top: 5rem;
  padding: 2rem;
  background-color: black;
  font-size: 3.5rem;
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.insta-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem 1.5rem;
}

.insta-img {
  img {
    width: 100%;
    height: 22rem;
    object-fit: cover;
  }
}

// Contact
.contact-section {
  margin-top: 10rem;

  h2 {
    margin-top: 5rem;
  }
}

.contact-headshot {
  width: 80%;
  max-width: 30rem;
  margin: 0 auto;
  border-radius: 75% 75% 75% 75% / 50% 50% 50% 50%;
}

.email-form {
  margin-top: 5rem;
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;

  div {
    margin-top: 2rem;
  }

  input,
  textarea {
    margin-top: 1rem;
    border: 1px solid $dk-gray;
    padding: 1rem;
  }

  input:focus {
    outline: none !important;
    border-color: $dk-gray;
    box-shadow: 0 0 10px $dk-gray;
  }
  textarea:focus {
    outline: none !important;
    border-color: $dk-gray;
    box-shadow: 0 0 10px $dk-gray;
  }

  .submit-input {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    text-decoration: none;
    background: #318db4;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
  }
}
