*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Alata', sans-serif;
}

.hero {
  height: 65rem;
  background-image: url(../assets/images/index/header-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-text {
  width: 90%;
  position: relative;
  top: -3rem;
  padding: 2rem;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
}

section {
  width: 90%;
  margin: 5rem auto 0 auto;
  text-align: center;
}

section h2 {
  margin-top: 2.5rem;
  padding: 0 2.5rem;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
}

section p {
  margin-top: 2.5rem;
  padding: 0 2.5rem;
  line-height: 2.5rem;
  color: #8c8c8c;
}

.intro-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro-section .intro-figure {
  margin: 5rem auto;
}

.intro-section .intro-figure .intro-img-desktop {
  display: none;
}

.intro-section .intro-figcaption {
  margin-top: 1rem;
  color: #8c8c8c;
}

.insta-page-break {
  width: 100%;
  margin-top: 5rem;
  padding: 2rem;
  background-color: black;
  font-size: 3.5rem;
  font-family: 'Josefin Sans', sans-serif;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.insta-section-bg {
  background: url(../assets/images/index/instagram-bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.insta-feed {
  margin-top: 0;
  padding: 5rem 0;
}

.insta-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem 1.5rem;
}

.insta-img {
  cursor: pointer;
}

.insta-img img {
  width: 100%;
  height: 22rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-section {
  margin-top: 10rem;
}

.contact-section h2 {
  margin-top: 5rem;
}

.contact-headshot {
  width: 80%;
  max-width: 30rem;
  margin: 0 auto;
  border-radius: 75% 75% 75% 75% / 50% 50% 50% 50%;
}

.email-form {
  margin-top: 5rem;
  padding: 0 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.email-form div {
  margin-top: 2rem;
}

.email-form input,
.email-form textarea {
  margin-top: 1rem;
  border: 1px solid #8c8c8c;
  padding: 1rem;
}

.email-form .submit-input {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  text-decoration: none;
  background: #318db4;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
}

.footer-section {
  width: 100%;
  padding: 2rem;
  background-color: #070e18;
  color: #8c8c8c;
  font-size: 1.4rem;
  text-align: center;
}

.footer-section div {
  margin-top: 2rem;
}

.footer-section .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-section .footer-links img {
  width: 3rem;
  height: 3rem;
  margin: 0 1rem;
  -webkit-filter: invert(48%) sepia(100%) saturate(293%) hue-rotate(152deg) brightness(83%) contrast(100%);
          filter: invert(48%) sepia(100%) saturate(293%) hue-rotate(152deg) brightness(83%) contrast(100%);
}

@media (min-width: 48em) {
  .hero {
    background-position: left;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hero-text {
    max-width: 60rem;
    margin-top: 25rem;
    margin-right: 25rem;
    padding: 4.5rem;
    font-size: clamp(4rem, 1.168rem + 4.05vw, 7rem);
  }
  section {
    text-align: left;
  }
  section h2 {
    font-size: 4rem;
  }
  .intro-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro-section .intro-text {
    width: 100%;
  }
  .intro-section .intro-figure {
    width: 100%;
    margin: 2rem;
  }
  .intro-section .intro-figure .intro-img-mobile {
    display: none;
  }
  .intro-section .intro-figure .intro-img-desktop {
    display: block;
    width: 100%;
  }
  .insta-page-break {
    margin-top: 7.5rem;
  }
  .insta-feed {
    padding: 10rem 0;
  }
  .insta-grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .insta-img img {
    width: 100%;
    height: 39rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .contact-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-section .contact-headshot {
    width: 100%;
    max-width: 40rem;
    max-height: 56.3rem;
    margin: 2.5rem 3rem 0 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .contact-section .contact-section-text {
    width: 100%;
  }
  .contact-section .email-form {
    margin-top: 0;
  }
  .footer-section {
    margin-top: 10rem;
    padding-bottom: 8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  .footer-section div {
    width: 100%;
  }
  .footer-copyright {
    position: absolute;
    left: 50%;
    top: 60%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 61.3125em) {
  .hero {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero-text {
    margin-right: 0;
  }
}
/*# sourceMappingURL=index-styles.css.map */